<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light"  >
  <!-- <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top bg-company-red"  > -->
  <!-- fixed-top -->
    <div  class="container-fluid">
       
      <a style="font-family: 'Trebuchet MS', sans-serif;" class="navbar-brand" routerLink=""><img id="blah" style="margin-top: 0px; margin-left: 0px; width: 120px;"
        src='../../../assets/img/hs.png' alt="your image" /></a>
      <a style="font-family: 'Trebuchet MS', sans-serif;" class="navbar-brand" routerLink=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

     

      <div class="collapse navbar-collapse" id="navbarNav" >
       
        <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Domain Hosting</a>
          </li>
          <!-- 1 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-fastcomet" routerLinkActive="active-link"></a>
          </li>       
          <!-- 2 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-bluehost" routerLinkActive="active-link"></a>
          </li>
          <!-- 3 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-dreamhost" routerLinkActive="active-link"></a>
          </li>
          <!-- 4 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-interserver" routerLinkActive="active-link"></a>
          </li>
          <!-- 5 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-hostarmada" routerLinkActive="active-link"></a>
          </li>
          <!-- 6 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-ionos" routerLinkActive="active-link"></a>
          </li>
          <!-- 7 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-godaddy" routerLinkActive="active-link"></a>
          </li>
          <!-- 8 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-hostgator" routerLinkActive="active-link"></a>
          </li>
          <!-- 9 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-hostinger" routerLinkActive="active-link"></a>
          </li>
          <!-- 10 -->
          <li class="nav-item">
            <a class="nav-link" routerLink="reviews-hostpapa" routerLinkActive="active-link"></a>
          </li>
          
          
        </ul>
      </div>
    </div>
    <!-- line -->
    <!-- <mat-divider></mat-divider> -->
    <!-- end line -->
  </nav>

  