<div class="content-wrapper">
<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-2 mt-3 mb-3">
            <h1>Web Host Solution</h1>
            <!-- <p>GOOD FOOD, GOOD EAT</p> -->
        </div>
        <!-- nav  -->
        <div class="col-lg-8 mt-3 mb-3">
            <a routerLink="home">Host Solution Home</a>
            <a routerLink="about-us">About Us</a>
            <a routerLink="contact-form">Contact Us</a>
            <a routerLink="menu">Menu</a>

            <div style="margin-left: 10px; margin-top: 20px; font-family: lato,sans-serif; color: white;">
                Web Host Solution is designed to support users make confident decisions online, this website contains information about a wide
                range
                of products and services. Certain details, including but not limited to prices and special offers, are
                provided to us directly from our partners and are dynamic and subject to change at any time without
                prior
                notice. Though based on meticulous research, the information we share does not constitute legal or
                professional advice or forecast, and should not be treated as such.<br/><br/>
                Reproduction in whole or in part is strictly prohibited.
            </div>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <!-- <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a> -->
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
        </div>

    </div>
</div>
</div>