<div class="content-wrapper">

    <!--  -->
    <div class="menu container-fluid align-items-start justify-content-center"
        style=" margin-top: -8px; background-color: #e6e9ec; height: 50px;">
        <div class="container-fluid" style="margin-top: 25px; height: 10px;"></div>
        <a rel="index up" title="Go to Home" href="/" style="text-decoration: none;border-radius: 22px; 
color:#727e8f;
font-size: 14px; 
font-family: lato,sans-serif;
  ">

            Host Solution Home
        </a>
        <i class="bi bi-chevron-right" style="margin-left: 0px; margin-right: 0px; 
border-radius: 22px; 
color:#727e8f;
font-size: 11px; 
font-weight: bolder;
font-family: lato,sans-serif;
 /* outline: rgb(255, 255, 255) solid ;  */">
        </i>
        <a class="main-nav-item" rel title="Go to  Fastcomet Reviews" href="about-us" style=" 
/* box-shadow: 0px 1px 1px rgba(255, 253, 253, 0.075) inset, 0px 2px 8px rgba(58, 56, 56, 0.6); */
border-radius: 22px; 
/* color:#727e8f; */
font-size: 14px; 
font-family: lato,sans-serif;
 /* border: 1px solid rgb(255, 255, 255); */
  /* outline: rgb(255, 255, 255) solid ;  */
  ">
            About Us
        </a>
        <div class="md-v-line"></div>
    </div>



    <div class="container mycol2">

        <div class="row justify-content-center g-0 align-items-center my-row d-flex">
            <div class="col-lg float-start">
                <div class="card card-body">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item edumkasa">
                                <div class="md-v-line1"></div>
                                <img _ngcontent-lvr-c156="" id="blah" src="../../../assets/img/write review.png"
                                    width="100%" height="100%" alt="your image">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg float-start">
                <div class="card card-body">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item edumkasa">
                                <div class="md-v-line1"></div>
                                <p style="font-size: 40px; font-weight: bold; font-family: lato,sans-serif;">
                                    About us</p>
                                <p style="font-size: 16px; font-family: lato,sans-serif; ">Web host
                                    solution
                                    is
                                    a comparison platform that offers the 10 best products & services. <br /><br />

                                    Web host solution provides professional web hosting reviews fully independent of any
                                    other
                                    entity.
                                    Our reviews are unbiased, honest, and apply the same evaluation standards to all
                                    those
                                    reviewed.
                                    While monetary compensation is received from a few of the companies listed on this
                                    site,
                                    compensation of services and products have no influence on the direction or
                                    conclusions
                                    of
                                    our
                                    reviews. Nor does the compensation influence our rankings for certain host
                                    companies.
                                    This
                                    compensation covers account purchasing costs, testing costs and royalties paid to
                                    reviewers.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center g-0 align-items-center my-row d-flex">
            <div class="col-lg-1 float-start">
                <div class="card card-body">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item edumkasa">
                                <div class="md-v-line1"></div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg float-start">
                <div class="card card-body">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item edumkasa">
                                <!-- <div class="md-v-line1"></div> -->
                                <p style="font-size: 30px; font-weight: bold; font-family: lato,sans-serif;">Web
                                    host
                                    solution’s team</p>
                                <p
                                    style="font-size: 16px; font-family: lato,sans-serif; margin-bottom: 30px; margin-top: 30px; line-height: 1.5;">
                                    Our team is made of passionate, driven, and skillful people who work tirelessly to
                                    provide
                                    readers with
                                    the
                                    best
                                    comparison experience. We work our magic together to ensure you choose with
                                    confidence and ease.
                                </p>

                                <p
                                    style="font-size: 30px; font-weight: bold; font-family: lato,sans-serif; margin-top: 10px; ">
                                    What
                                    are
                                    affiliate links and what happens when you click them?</p>
                                <p style="font-size: 16px; font-family: lato,sans-serif; margin-bottom: 30px; margin-top: 30px; line-height:
                    1.5;">
                                    Throughout our website you’ll occasionally come across links in reviews, comparison
                                    tables, and
                                    articles
                                    that when clicked on may earn us a commission or a referral bonus. On occasions, we
                                    also feature
                                    articles
                                    created in cooperation with one more of the partners we work with (these will always
                                    be marked
                                    as
                                    sponsored
                                    content).<br /><br />

                                    When it comes to our reviews, it’s important to mention that while we don’t get paid
                                    to write a
                                    review,
                                    our
                                    reviews contain affiliate links or buttons which, when clicked on, will redirect you
                                    to our
                                    partners’
                                    websites. If you’ve been with us for a while, though, you’ll know that our reviews
                                    are honest,
                                    even if
                                    we do
                                    make a commission. If a product has been recommended by Web host solution you can
                                    rest assured
                                    that our
                                    team has
                                    researched it fully!
                                </p>


                                <!-- contactus -->
                                <p
                                    style="font-size: 30px; font-weight: bold; font-family: lato,sans-serif; margin-top: 10px; ">
                                    Connect with
                                    us
                                </p>
                                <p
                                    style="font-size: 16px; font-family: lato,sans-serif; margin-bottom: 30px; margin-top: 30px; line-height: 1.5;">
                                    Web host solution is powered by Natural Intelligence <br />
                                    Kyaliwajjala Namugongo <br />
                                    Kampala, Uganda <br />
                                    +256-772-141-102 <br />
                                    contact@webhostsolution.com
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 float-start">
                <div class="card card-body">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item edumkasa">
                                <div class="md-v-line1"></div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>